.custom-card {
    width: 100%;
    height: 80vh;
}
.card-image {
    width: 100%;
    height: 90%;
    object-fit: cover;
}
.swiper-container {
    display: flex;
    justify-content: center;
    width: 100%;
}
.slide-wrapper {
    display: flex;
    justify-content: center;
}